.menuContainer {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 10em;
    list-style: none;
    font-weight: bold;
}

.menuLink {
    text-decoration: none;
    color: #dd9ccf;
    font-size: 1.5em;
}

.menuLink:hover {
    border-top: 4px solid #e6f17f;
    border-bottom: 4px solid #e6f17f;
    padding: 6px 0; 
}

