.homeContainer {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 10rem;
  }
  
  .cardContainer {
    text-align: center;
  }
  
  .cardTitle {
    padding: 1rem;
    font-size: 2rem;
    color: #eea9e2;
  }
  
  .cardDescription {
    font-size: 1rem;
    color: #474a51
  }